
footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  margin-top: 10px;
  bottom: 0;
}

footer .footer-wrapper {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

footer .creator {
  font-size: 12px;
  font-style: oblique;
  margin-right: 300px;
}

footer img {
  width: 120px;
  height: 80px;
}
