* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eee;
  font-style: normal;
  height: 100%;
  box-sizing: border-box;
}

a {
  color: #333;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
}

a:hover {
  background-color: #555;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  transition: linear 0.5s;
}

header {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #fff;
}

header nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: center;
  margin-top: 10px;
}

footer img {
  width: 120px;
  height: 80px;
}

ul {
  list-style-type: none;
}

main ul li img {
  max-width: 100%;
}

header nav .logo-wrapper img {
  width: 120px;
  height: 80px;
}

header nav .navItems {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 50%;
}

footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  margin-top: 10px;
  bottom: 0;
}

footer .footer-wrapper {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

footer .creator {
  font-size: 0.9rem;
  font-style: oblique;
  margin-right: 300px;
  color: #333;
}

/*********************************  \
|*           Main                *|
\  *********************************/
main {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.comment-form button {
  align-self: end;
  width: 30%;
  padding: 10px 0;
  font-size: 17px;
}

main ul {
  list-style: none;
  width: 80%;
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 40px;
  row-gap: 30px;
}

main ul li {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

main ul li .nameWrapper {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main ul li .nameWrapper h2 {
  color: #333;
}

main ul li .nameWrapper i {
  font-size: 25px;
  cursor: pointer;
  color: #555;
}

main ul li .nameWrapper i:hover {
  transform: scale(1.2);
  color: red;
}

main ul li h4 {
  color: #333;
  align-self: flex-end;
}

main ul li .buttonWrapper {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

main ul li .buttonWrapper button,
.add-comment {
  font-size: 1.3rem;
  letter-spacing: 0.02rem;
  padding: 8px 12px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 2px 4px #000;
}

main ul li .buttonWrapper button:hover,
.add-comment:hover {
  transform: scale(0.9);
  box-shadow: none;
}

/* Popup window styling start */

.mealDetailsPop {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: fixed;
  width: 58%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 25px;
}

.popup-wrapper {
  background: #fff;
  width: 80%;
  border-radius: 7px;
  align-self: center;
  height: 100%;
  padding-block: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 19px;
  overflow: auto;
}

.fa-circle-xmark {
  font-size: 30px;
  color: #333;
}

.fa-circle-xmark:hover {
  color: red;
  transform: scale(1.2);
}

.comments-lists {
  display: flex;
  flex-direction: column;
  width: 70%;
  background: #eee;
  border: none;
  padding: 10px 12px;
  font-style: italic;
}

.comments-lists li {
  border-bottom: 2px dashed #333;
  line-height: 20px;
  padding: 8px 4px;
}

.meal-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  gap: 10px;
  color: #333;
}

.meal-image {
  width: 70%;
  border-radius: 10px;
  box-shadow: 0 2px 8px #000;
}

.meal-title {
  font-size: 24px;
}

.meal-ingrediant {
  font-size: 20px;
}

.ingredient-pair {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.CommentFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 15px;
  flex-direction: column;
}

.comment-form {
  display: flex;
  flex-direction: column;
  gap: 9px;
  width: 70%;
}

.comment-form input,
.comment-form textarea {
  border-radius: 8px;
  font-weight: 400;
  padding-inline: 16px;
  padding-block: 9px;
  font-size: 17px;
  border: 3px solid #555;
}

.ingredients {
  background: #eee;
  padding: 8px 12px;
  width: 70%;
  display: flex;
  justify-content: space-between;
  border: 3px solid #555;
  border-radius: 8px;
  gap: 12px;
  line-height: 30px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
}

#pop-container {
  display: none;
  flex-direction: column;
  width: 100%;
  height: auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(85, 85, 85, 0.79);
  backdrop-filter: blur(7px);
  padding-block: 5%;
}

.mealCommentsContainer {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  align-items: center;
  color: #333;
}

.close-btn {
  display: flex;
  justify-content: flex-end;
  width: 90%;
}

.form-title {
  font-size: 18px;
  color: #333;
}
